{% extends "coffeeapp/base.html" %} 
{% load static %}
<title>{% block title %}About Us{% endblock %}</title>

{% block body %}
<h1>About us</h1>
<br />
<p class="about">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quia blanditiis
  quisquam ullam alias illo maxime laborum. Quidem excepturi laboriosam
  perferendis ipsa! Vel, minus reiciendis totam ut, voluptates ab incidunt aut
  hic molestiae cum suscipit sit voluptas inventore ratione? Tempore aliquid
  praesentium, ut aspernatur corporis voluptate officia ipsam non officiis rerum
  ratione atque eum. Sequi earum cumque quae dolore a temporibus minima illum
  tempore quidem omnis exercitationem suscipit laborum dolores, iure ad magni
  voluptates, aperiam ex aspernatur perspiciatis! Adipisci corrupti vero rerum
  optio quasi labore aspernatur officia reprehenderit molestias. Ad, molestiae
  doloremque quia quae quam deserunt nam delectus expedita, asperiores facilis
  eos id, vero maxime explicabo quos nisi autem sapiente fugit pariatur iusto
  similique aliquid recusandae ex architecto. Tempore aliquid odio nobis unde,
  atque dolor, molestias rerum deleniti consectetur sequi quae veniam voluptatum
  reiciendis explicabo tempora iusto, corrupti quos nulla ea labore voluptatem
  maiores magni vero quo. Reiciendis repellat saepe, molestiae nostrum deserunt
  autem expedita sit rerum asperiores dolores nulla suscipit modi, aut excepturi
  incidunt esse assumenda harum nobis adipisci quos qui iusto hic. Officiis non
  rerum in doloribus perferendis optio iure animi rem! Nostrum, atque corporis!
  Ullam rerum fuga quaerat cumque commodi corporis pariatur consequatur totam
  labore quos harum aut possimus a voluptatum minima perspiciatis laboriosam
  ducimus itaque voluptas, ipsa quam. Saepe, aut iste porro maiores tempore esse
  praesentium cumque inventore sit dolor expedita minus iusto officia odio
  labore beatae ea architecto veritatis, asperiores nam itaque placeat, deserunt
  mollitia. Temporibus dolor incidunt unde voluptates quia aut iure magnam
  sequi. Adipisci eligendi veniam facilis! Harum vel accusantium voluptatum ea.
  Culpa repellat explicabo voluptatibus dignissimos dolorem temporibus dolor.
  Ullam voluptas consequuntur distinctio laboriosam sed nisi atque, dolore hic
  libero ab eius quasi, ratione quisquam tenetur cum qui, placeat doloremque.
  Ex, in, fugit eos sint sed ipsum nemo, impedit reprehenderit deleniti facere
  explicabo magnam nulla illo quia rerum eum amet est iusto aut. Placeat,
  excepturi dolorum. Fuga velit, totam vero sapiente libero amet delectus
  suscipit maxime illum culpa corrupti nihil saepe iste placeat enim dolorum
  veritatis quia! Corrupti voluptatum nobis neque quia doloribus, exercitationem
  itaque voluptatibus dicta facilis quisquam impedit similique sed minima, quos
  vero labore aspernatur non nisi obcaecati quam corporis magnam consequuntur
  illum! Vel quis illo rem, eaque quisquam necessitatibus vitae accusantium?
  Architecto, ab assumenda perferendis voluptatum recusandae nam a deserunt
  consectetur voluptatibus, quo, tempore possimus. Beatae asperiores
  perferendis, modi assumenda pariatur illo libero ex harum reprehenderit
  officia. At consequatur officiis, ad illo adipisci nam mollitia qui modi, quia
  ab commodi quibusdam. Sapiente maxime excepturi delectus. Nisi sequi nesciunt,
  tempore fugiat omnis quo iure sit laboriosam consectetur est modi? Aliquam
  debitis quibusdam hic magni corrupti placeat fugit officia, eos animi
  perspiciatis, fugiat qui tempore ut natus magnam molestiae labore, incidunt
  consequatur non ipsum soluta repellat? Maiores laboriosam natus perferendis
  ut, accusamus sunt, ullam quis iure explicabo veritatis quibusdam quidem
  facere perspiciatis, aperiam dolore? Ipsa optio repellat saepe laudantium
  suscipit dolore architecto ducimus non modi ratione culpa beatae vel
  voluptatibus alias error, incidunt magnam aperiam reprehenderit? Facilis
  deleniti minus minima deserunt.
</p>
<br>
{% endblock %}
